<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="/static/css/kim/2.css">
</head>
<body>
    <div class="box_wrap">
        <div id="first" class="box">
            <strong>첫번째 게시글</strong>
            <div>안녕하세요 !</div>
        </div>
        <div id="second" class="box">
            <strong>두번째 게시글</strong>
            <div>반갑습니다 !</div>
        </div>
    </div>
    <button id="btn">추가하기</button>
    <script type="text/javascript" src="/static/js/kim/2.js"></script>
</body>
</html>