<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script type="text/babel" >
    const App = () => {
    return (
        <form action="https://www.goodchoice.kr/product/result?">
            <label for="city">가고싶은 도시 : </label>
            <input id="city" type="text" name="keyword" placeholder="가고싶은 도시를 입력해보세요!" />
            <input type="submit" value="검색하기" />
        </form>
    )
}
    ReactDOM.render(<App />, document.getElementById('root'));
  </script>

</body>
</html>