<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/shin/4.css">
</head>
<body>
    <input type="text" placeholder="할 일을 입력해주세요">
    <div>
        <div style="margin: 10px;">
            <span >할일</span>
            <button>삭제</button>
        </div>
        <div style="margin: 10px;">
            <span>할일</span>
            <button>삭제</button>
        </div>
    </div>
    <script>
        let list = [];
    </script>
    <script type="text/javascript" src="/static/js/shin/4.js"></script>
</body>
</html>