<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      const root = document.getElementById("root");

      const Counter = () => {
        const [login, setLogin] = React.useState({
          id: "",
          pw: "",
        });

        const [cal, setCal] = React.useState({
          frist: "",
          qu: "",
          second: "",
        });

        const { id, pw } = login;
        const { frist, qu, second } = cal;

        let join = id.includes("@") && pw.length > 5;

        const changeInfor = (e) => {
          const { name, value } = e.target;
          setLogin({ ...login, [name]: value });
        };

        const changeCal = (e) => {
          const { name, value } = e.target;
          setCal({ ...cal, [name]: value });
        };

        const [count, setCount] = React.useState(1);

        return (
          <div class="form">
            <h2>가고</h2>
            <form action="https://www.goodchoice.kr/product/result?">
              <input
                type="text"
                name="keyword"
                placeholder="여행지를 입력해주세요"
              />
            </form>
            <p
              style={{
                width: "100%",
                border: "1px solid black",
                margin: "20px",
              }}
            ></p>

            <h1>로그인</h1>
            <input
              type="text"
              name="id"
              onChange={changeInfor}
              placeholder="이메일"
            />
            <input
              type="password"
              name="pw"
              onChange={changeInfor}
              placeholder="5글자 이상"
            />
            <button disabled={join}>
              {join ? "성공" : "형식에 맞게 입력 해주세요"}
            </button>
            <p>아이디:{id}</p>
            <p>비번:{pw}</p>
            <p
              style={{
                width: "100%",
                border: "1px solid black",
                margin: "20px",
              }}
            ></p>
            <h2>계산기</h2>
            <input type="text" name="frist" onChange={changeCal} />

            <input type="text" name="second" onChange={changeCal} />
            <select
              name="qu"
              onChange={changeCal}
              disabled={!(frist && second)}
            >
              <option value="선택" selected disabled>
                선택
              </option>
              <option value="+">+</option>
              <option value="-">-</option>
              <option value="*">*</option>
              <option value="/">/</option>
            </select>
            <p>답:{qu && eval([frist, qu, second].join(""))}</p>
            <p
              style={{
                width: "100%",
                border: "1px solid black",
                margin: "20px",
              }}
            ></p>
            <h2>사진 클릭시 랜덤~</h2>
            <img
              src={`../imgs/Rectangle${count}.png`}
              alt=""
              onClick={() => {
                setCount(Math.floor(Math.random() * 5) + 1);
              }}
            />
            <p
              style={{
                width: "100%",
                border: "1px solid black",
                margin: "20px",
              }}
            ></p>
            <h2>사진 앞뒤로~~</h2>
            <img src={`../imgs/Rectangle${count}.png`} alt="" />
            <div>
              {count > 1 && (
                <button onClick={() => setCount(count - 1)}>pre</button>
              )}
              {count < 5 && (
                <button onClick={() => setCount(count + 1)}>next</button>
              )}
            </div>
          </div>
        );
      };

      ReactDOM.render(
        <>
          <Counter />
        </>,
        root
      );
    </script>
  </body>
</html>
