<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL 주소 검색</h1>
    <h2>신정호님 : localhost:8888/shin/1</h2> 
    <h2>김영욱님 : localhost:8888/kim/1</h2>
    <h2>서윤정님 : localhost:8888/seo/1</h2>
    <h2>윤태현 : localhost:8888/yoon/1</h2>

    <br>
    <p>주소창 뒤에 숫자를 1, 2, 3, 4로 바꾸시면 됩니다.</p>
    <p>html 폴더는 templates 폴더 안에 있습니다.</p>
    <p>js, css 폴더는 static 폴더 안에 있습니다.</p>
</body>
</html>