<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/seo/4.css">
</head>
<body>
    <form class="form-todo">
        <input name="text" class="inp-todo" type="text" placeholder="할일을 입력하세요">
        <button type="submit" class="btn-add">추가</button>
    </form>
    <ul class="list-todo"></ul>
    <script type="text/javascript" src="/static/js/seo/4.js"></script>
</body>
</html>