<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/yoon/3.css">
</head>
<body>
    <div id="root"></div>

    <script type="text/babel">
        const App = () => {
            const [id, setId] = React.useState('');
            const [pw, setPw] = React.useState('');

            const Submit = () => {
                if (id === "" || pw === "") {
                    alert("아이디 또는 패스워드를 입력해주시기 바랍니다.")
                    return;
                }
                console.log(id, pw)
            }

            return (
                <div>
                    <input type="text" id="user-id" placeholder="아이디 입력" onChange={(e) => {setId(e.target.value)}}></input>
                    <input type="password" id="user-pw" placeholder="비밀번호 입력" onChange={(e) => {setPw(e.target.value)}}></input>
                    <button type="submit" onClick={() => Submit()}>제출</button>
                </div>
            )
        }

        ReactDOM.render(<App/>, document.getElementById("root"));
    </script>
</body>
</html>